<meta charset="UTF-8">
<h1>Projeto do Felipe Cardozo</h1>
<p>Aqui se encontra o projeto de Felipe Cardozo para empresa Sapiensia</p>
<ul>
</ul>
<p>Esse projeto possui as seguintes tecnologias:</p>
<ul>
    <li>C#</li>
    <li>ASP.NET WebApi</li>
    <li>Angular</li>
    <li>Microsoft SQL Server</li>
    <li>Ionic</li>
</ul><br />
<p>
    Console de Gerenciador de Pacotes:
</p>
  <p> Install-Package Microsoft.VisualStudio.Web.CodeGeneration.Design -Version 2.0.0</p>
  <p>  Add-Migration Initial</p>
  <p>   Update-Database</p>

<br />

<p>Ao clicar em "Clientes" aparecem campos onde se comuinicam com a WEBAPI e o SQL SERVER</p>
<ul>

</ul>
